Repository openmobilityfoundation/curb-data-specification, pull requests merged in 2022-01, with the labels that each got.

#57 docs: clarify effective minute coverage requirements
  curbs/README.md
Labels: Curbs API

#67 Feature: Remove Policy object from Curb Zone endpoint
  curbs/README.md
  curbs/examples.md
Labels: Curbs API, feedback needed

#68 Feature curbs policy 2
  curbs/README.md
  curbs/examples.md
  events/examples.md
Labels: Curbs API, Events API

#35 Work for CDS Release Beta
  .github/ISSUE_TEMPLATE/add-provider-id.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/release-candidate.md
  .github/pull_request_template.md
  CODEOWNERS
  README.md
  ReleaseNotes.md
  curbs/README.md
  curbs/examples.md
  data_source_operators.csv
  events/README.md
  events/examples.md
  general-information.md
  metrics/README.md
  metrics/examples.md
Labels: documentation, good first issue, help wanted, Curbs API, Events API, Metrics API
