Repository openmobilityfoundation/curb-data-specification, pull requests merged in 2024-12, with the labels that each got.

#141 Add Curb Event field for operator device name
  events/README.md
Labels: Events API

#160 Replace Handicapped with Accessible
  curbs/README.md
Labels: Curbs API, minor update

#162 Patch 1.0.1 to Dev
  README.md
  ReleaseNotes.md
  curbs/README.md
  general-information.md
Labels: admin

#126 Creating Curb Objects
  curbs/README.md
  events/README.md
  general-information.md
  metrics/README.md
Labels: enhancement, Curbs API, Events API, Metrics API, schema, SMART Collaborative
