Repository openmobilityfoundation/curb-data-specification, pull requests merged in 2025-08, with the labels that each got.

#192 1.1 Consolidated Issues resolution by staff
  curbs/README.md
  data-types.md
  events/README.md
  general-information.md
Labels: admin

#193 Added Custom Attribute to Events Data Object
  curbs/README.md
  events/README.md
  general-information.md
Labels: Events API

#194 Staff 1.1 issues 2
  curbs/README.md
  events/README.md
  general-information.md
Labels: Curbs API, Events API, Metrics API, admin

#158 Add Payment Channel and Method to Curb Events
  events/README.md
Labels: Events API

#196 Vehicle properties and computer vision fields
  events/README.md
Labels: Events API, Seattle
