Repository openmobilityfoundation/curb-data-specification, pull requests merged in 2025-07, with the labels that each got.

#96 Linking to External Overlapping Data Sources (WZDz, CWZ, MDS, GBFS, GTFS, Curb Objects, etc)
  curbs/README.md
  data-types.md
  events/README.md
Labels: enhancement, Curbs API, Events API, future release

#140 Add event_time query parameter to events endpoint
  events/README.md
Labels: Events API

#182 Feature custom attributes
  curbs/README.md
  general-information.md
Labels: Curbs API, SMART Collaborative, Seattle

#175 Add name and desciption fields to policy & rule
  curbs/README.md
Labels: Curbs API
